*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.menu_xs{
		display: none;
		padding: 15px;
		border-radius: 5px;
		font-size: 1.5em;
		float: right;
		background-color: #8492af;
		color: #0e1a35;
		border: none;
	}

.menu_close{display: none;}	

#home{
	background-image: url("../imagens/fundo_principal.jpg");
	width: 2000px;
	margin: 0 auto;
}

#home .menu_home{
	height: 200px;
	margin: 0 auto;
}

#home .menu_logo{
	height: 65px;
	width: 263px;
}

#home .menu_texto{
	float: right;
	margin-right: 151px;
	margin-top: 93px;
}

#home .menu_texto a, li{
	text-decoration: none;
	list-style: none;
	display: inline;
}

#home .menu_texto a{
	color: #d2d3d6;
	font-family: 'Roboto', sans-serif;
	font-size: 18pt;
	margin-left: 51px;
}

#home .menu_texto .login li{
	color: #5584ff;
	border: 1px solid #233a72;
	border-radius: 35px;
	padding: 17px 43px;
}

#home .menu_texto_principal{
	margin-top: 78px;
	height: 300px;
}

#home .menu_texto_principal .titulo{
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 60pt;
	font-weight: 100;
	text-align: center;
}

#home .menu_texto_principal .sub_titulo{
	color: #8492af;
	font-family: 'Roboto', sans-serif;
	font-size: 36pt;
	text-align: center;
}

#home .menu_texto_principal .menu_botao{
	width: 250px;
	margin: 0 auto;
	margin-top: 90px;
}

#home .menu_texto_principal .menu_botao a{
	padding: 17px 64px;
	border-radius: 35px;
	background-color: #5584ff;
	color: #ffffff;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-size: 18pt;
	font-weight: bold;
}


#home .menu_imagem_principal{
	width: 882px;
	margin: 0 auto;
	margin-top: 78px;
}

#home .menu_imagem_principal{
	box-shadow: 0px 15px 80px #274790;
}

.img-responsive{max-width: 100%;}

#home2{
	width: 2000px;
	margin: 0 auto;
	background: linear-gradient(#ffffff, #f6f7fa);
	border: 1px solid #f8f8fb;
}

#home2 .icones{
	width: 1655px;
	margin: 0 auto;
	margin-top: 270px;
}

#home2 .icones div{
	width: 470px;
	display: inline-block;
}

#home2 .icones, #home2 .icones div{
	height: 406px;
}

#home2 .icones img{
	display: block;
	margin: 0 auto;
}

#home2 .icones .icones_titulo{
	font-family: 'Roboto', sans-serif;
	font-size: 24pt;
	font-weight: bold;
	color: #0e1a35;
	text-align: center;
}

#home2 .icones .icones_descricao{
	font-family: 'Roboto', sans-serif;
	font-size: 18pt;
	color: #8492af;
	text-align: center;
}

#home2 .icones .home2_botao{
	display: block;
	margin: 0 auto;
	width: 280px;
	height: 40px;
}

#home2 .icones a{
	font-family: 'Roboto', sans-serif;
	font-size: 18pt;
	font-weight: bold;
	color: #0e1a35;
	padding: 28px 88px;
	border: 1px solid #dde0e9;
	border-radius: 500px;
	text-decoration: none;
}

#home2 .drop{
	margin-top: 224px;
	height: 700px;
	width: 1888px;
	margin-left: auto;
	margin-right: auto;
}

#home2 .drop .drop_esquerdo{
	width: 875px;
	margin-left: 40px;
}

#home2 .drop .drop_titulo{
	font-family: 'Roboto', sans-serif;
	font-size: 60pt;
	font-weight: 100;
	color: #0e1a35;
}

#home2 .drop .drop_descricao{
	font-family: 'Roboto', sans-serif;
	font-size: 18pt;
	color: #8492af;
	margin-top: 61px;
}

#home2 .drop .drop_info{
	font-family: 'Roboto', sans-serif;
	font-size: 22pt;
	color: #5584ff;
	margin-top: 26px;
}

#home2 .drop .drop_info img{
	margin-right: 18px;
	margin-top: 45px;
	width: 36px;
	height: 34px;
}

#home2 .drop .drop_direito{
	margin-top: -600px;
	float: right;
	margin-right: -53px;
}

#home3{
	width: 2000px;
	margin: 0 auto;
	background-image: url("../imagens/fundo_home3.jpg");
}

#home3 > div{
	display: inline-block;
}

#home3 .home3_esquerdo{
	width: 1100px;
}

#home3 .home3_esquerdo, .home3_direito{
	margin-top: 160px;
}

#home3 .home3_esquerdo .home3_esquerdo_1{
	float: left;
}

#home3 .home3_esquerdo .home3_esquerdo_1, .home3_esquerdo_2{
	display: inline-block;
}

#home3 .home3_esquerdo .home3_esquerdo_2{
	margin-left: 30px;
}

#home3 .home3_esquerdo .home3_esquerdo_1 p{
	margin-left: 147px;
}

#home3 .home3_esquerdo .home3_esquerdo_1 p, .home3_esquerdo_2 p{
	font-family: 'Roboto', sans-serif;
	font-size: 30.59pt;
	font-weight: 400;
	color: #f6f7fa;
	padding-bottom: 17px;
}

#home3 .home3_esquerdo .numero3, .numero2{
	color: #8492af;
}

#home3 .home3_esquerdo .numero3{
	margin-left: 27px;
}

#home3 .home3_esquerdo .numero2{
	margin-left: 9px;
}

#home3 .home3_esquerdo .home3_esquerdo_1 .seta_direita img{
	width: 26px;
	height: 30px;
	margin-left: 100px;
}

#home3 .home3_esquerdo .home3_esquerdo_1 div{
	margin-left: 147px;
}

#home3 .home3_esquerdo .home3_esquerdo_1 div, .home3_esquerdo_2 div{
	width: 390px;
	height: 99px;
	margin-top: 14px;
}

#home3 .home3_esquerdo .home3_esquerdo_1 div a, .home3_esquerdo_2 div a{
	color: #8492af;
	font-size: 42pt;
	letter-spacing: -3px;
	transform: rotate(90deg);
	float: right;
	margin-top: 16px;
	text-decoration: none;
}

#home3 .home3_esquerdo .home3_esquerdo_1 .drop_img_n{
	background-image: url("../imagens/drop_img_n.jpg");
}

#home3 .home3_esquerdo .home3_esquerdo_1 .drop_img_d{
	background-image: url("../imagens/drop_img_d.jpg");
}

#home3 .home3_esquerdo .home3_esquerdo_1 .drop_img_b{
	background-image: url("../imagens/drop_img_b.jpg");
	margin-top: 36px;
	margin-left: 176px;
}

#home3 .home3_esquerdo .home3_esquerdo_2 .drop_img_f{
	background-image: url("../imagens/drop_img_f.jpg");
}

#home3 .home3_esquerdo .home3_esquerdo_2 .drop_img_i{
	background-image: url("../imagens/drop_img_i.jpg");
}

#home3 .home3_esquerdo .home3_esquerdo_2 .drop_vazio{
	border: 2px dashed #475675;
}

#home3 .home3_esquerdo .home3_esquerdo_2 .drop_vazio p{
	color: #8492af;
	font-family: 'Roboto', sans-serif;
	font-size: 20pt;
	font-weight: 400;
	text-align: center;
	margin-top: 30px;
}

#home3 .home3_direito{
	width: 890px;
	margin-top: 222px;
	float: right;
}

#home3 .home3_direito .home3_direito_titulo{
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 60pt;
	font-weight: 100;
	margin-bottom: 35px;
}
#home3 .home3_direito p{
	color: #8492af;
	font-family: 'Roboto', sans-serif;
	font-size: 18pt;
	font-weight: 400;
	margin-bottom: 15px;
}

#home3 .home3_direito img{
	margin-top: 15px;
	margin-right: 10px;
}

#home4{
	width: 2000px;
	background: linear-gradient(#f6f7fa,#ffffff);
	margin: 0 auto;
	border: 1px solid #fcfdfd;
}

#home4 .home4_div1 .home4_titulo{
	color: #0e1a35;
	font-family: 'Roboto', sans-serif;
	font-size: 60pt;
	font-weight: 100;
	text-align: center;
	margin-top: 104px;
	margin-bottom: 60px;
}

#home4 .home4_div1 p{
	color: #8492af;
	font-family: 'Roboto', sans-serif;
	font-size: 18pt;
	font-weight: 400;
	text-align: center;
}

#home4 .home4_div1 img{
	margin: 0 auto;
	display: block;
}

#home4 .home4_div2 .home4_div2_titulo{
	color: #0e1a35;
	font-family: 'Roboto', sans-serif;
	font-size: 60pt;
	font-weight: 100;
	text-align: center;
	margin-top: 157px;
}

#home4 .home4_div2 p{
	color: #8492af;
	font-family: 'Roboto', sans-serif;
	font-size: 18pt;
	font-weight: 400;
	text-align: center;
}

#home4 .home4_div2 a{
	padding: 17px 64px;
	border-radius: 35px;
	background-color: #5584ff;
	color: #ffffff;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-size: 18pt;
	font-weight: bold;
	display: block;
	margin: 57px auto;
	width: 104px;
	
}

#home4 .home4_div2 .home4_div2_div{
	margin: 101px auto;
	display: block;
	width: 1704px;
} 

#home4 .home4_div2 .home4_div2_div div{
	width: 400px;
	height: 468px;
	background-color: #ffffff;
	box-shadow: 5px 10px 8px 10px #eff0f2;
	margin-left: 122px;
	display: inline-block;
	
}

#home4 .home4_div2 .home4_div2_div .home4_div2_div_titulo{
	color: #0e1a35;
	font-family: 'Roboto', sans-serif;
	font-size: 24pt;
	font-weight: 400;
	margin-top: 46px;
	margin-bottom: 40px;
}

#home4 .home4_div2 .home4_div2_div .cifrao{
	color: #0e1a35;
	font-family: 'Roboto', sans-serif;
	font-size: 40.01pt;
	font-weight: bold;
}

#home4 .home4_div2 .home4_div2_div .numero{
	color: #0e1a35;
	font-family: 'Roboto', sans-serif;
	font-size: 72pt;
	font-weight: bold;
}

#home4 .home4_div2 .home4_div2_div .mes{
	color: #8492af;
	font-family: 'Roboto', sans-serif;
	font-size: 24pt;
	font-weight: 400;
}

#home4 .home4_div2 .home4_div2_div .descricao{
	color: #8492af;
	font-family: 'Roboto', sans-serif;
	font-size: 18pt;
	font-weight: 400;
}

#home4 .home4_div2 .home4_div2_div .descricao img{
	margin-right: 13px;
	margin-top: 20px;
}

#rodape{
	height: 150px;
	width: 2000px;
	margin: 0 auto;
	background-color: #0e1a35;
	border:1px solid #0e1a35;
}

#rodape .rodape_centro{
	width: 1470px;
	margin: 0 auto;
	margin-top: 65px;
	
}

#rodape .rodape_centro div{
	display: inline-block;
	
}

#rodape .rodape_centro p{
	color: #8492af;
	font-family: 'Roboto', sans-serif;
	font-size: 18pt;
	font-weight: 400;
}

#rodape .rodape_centro .rodape_menu{
	
	margin-left: 570px;
}

#rodape .rodape_centro div ul a{
	color: #8492af;
	font-family: 'Roboto', sans-serif;
	font-size: 18pt;
	font-weight: 400;
	text-decoration: none;
}

#rodape .rodape_centro div ul li{
	display: inline;
	list-style: none;
	margin-left: 51px;
	
}

#rodape .rodape_centro .redes_sociais{
	margin-left: 19px;
	float: right;
}

#rodape .rodape_centro .redes_sociais img{
	width: 22px;
	height: 30px;
	margin-left: 19px;
}


.icones_left{margin-left: 118px;}


@media (max-width: 766px){
	#rodape{margin-top: 460px;}
	#home4{height: 900px}
}

@media (max-width: 576px) {
	#home{width: 100%; padding: 15px;}

	#home .menu_home .menu_logo{
		width: 50px;
		height:50px;
	}

	.menu{display: none; position: absolute;}

	.menu{
		width: 100%;
		height: 100%;
		margin-left: -15px;
		margin-top: -75px;
		padding: 0;
		background: rgba(0,0,0,0.9);

	}

	.menu_close{
		float: right;
		color:#0080FF;
		margin-right: 2%;
	}

	#home .menu_home{
		width: 100%;
		height: 100%;
	}

	#home .menu_home .menu_texto{
		width: 40%!important;
		height: 400px;
		margin: 60px 80px!important;
	}

	#home .menu_home .menu_texto li{
		display: block;
		padding: 15px 0px!important;
	}

	#home .menu_home .menu_texto li:hover{
		background-color: #8492af;
	}


	#home .menu_home .menu_texto li a{
		padding: 10px 10px;
		text-align: center!important;
	}

	#home .menu_home .menu_xs{
		display: block;
	}

	#home .menu_home .menu_xs:hover{cursor: pointer;}

	#home .menu_texto_principal{
		margin-top: 20px;
	}

	#home .menu_texto_principal .titulo{
		font-size: 34pt;
	}

	#home .menu_texto_principal .sub_titulo{
		font-size: 16pt;
	}

	#home .menu_texto_principal .menu_botao{
		width: 170px!important;
		margin: 0 auto;
		margin-top: 30px;
	}

	#home .menu_texto_principal .menu_botao a{
		font-size: 12pt;
		padding: 15px 40px!important;
	}


	#home .menu_imagem_principal{
		display: none;
	}

	#home2{width: 100%;}

	#home2 .icones{
	width: 100%;
	margin-top: 100px;
	}

	#home2 .icones > div{
		width: 100%;
		margin: 25px auto;
	}

	#home2 .icones .icones_titulo{
		font-size: 18pt;
	}

	#home2 .icones .icones_descricao{
		font-size: 12pt;
	}

	#home2 .icones a{
		font-size: 12pt;
		padding: 15px 35px;
		margin-left: 70px;
	}

	#home2 .drop{
		margin-top: 1000px;
		height: 900px;
		width: 100%;
	}

	#home2 .drop .drop_esquerdo{
		width: 96%;
		margin-left: 15px;
	}

	#home2 .drop .drop_titulo{
		font-size: 40pt;
		width: 96%;
		text-align: center;
	}

	#home2 .drop .drop_descricao{
		font-size: 14pt;
		width: 80%;
		margin: 30px auto;
		text-align: center;
	}

	#home2 .drop .drop_info{
		font-size: 12pt;
		margin-top: 26px;
		text-align: center;
	}

	#home2 .drop .drop_info img{
		margin-right: 10px;
		margin-top: 10px;
		width: 26px;
		height: 24px;
	}

	#home2 .drop .drop_direito{
		margin-top: 50px;
		margin-right: 0px;
		width: 100%!important;
	}

	#home3{width: 100%;}

	#home3 .home3_esquerdo{
		width: 70%!important;
		height: 500px!important;
	}

	#home3 .home3_esquerdo, .home3_direito{
		margin-top: 60px;
	}

	#home3 .home3_tudo .home3_esquerdo .home3_esquerdo_1, .home3_esquerdo_2{ 
		width: 100%!important;
		display: block!important;
		float: none;
	}

	#home3 .home3_tudo .home3_esquerdo .home3_esquerdo_2{
		margin-top: 40px;
	}

	#home3 .home3_esquerdo .home3_esquerdo_1 p{
		margin-left: 0px;
	}

	#home3 .home3_esquerdo .home3_esquerdo_1 p, .home3_esquerdo_2 p{
		font-size: 12pt;
		padding-bottom: 5px;
	}

	#home3 .home3_esquerdo .numero3{
		margin-left: 10px;
	}

	#home3 .home3_esquerdo .home3_esquerdo_1 .seta_direita img{
		width: 12px;
		height: 17px;
		margin-left: 100px;
	}

	#home3 .home3_esquerdo .home3_esquerdo_1 div{
		margin-left: 0px;
	}

	#home3 .home3_esquerdo .home3_esquerdo_1 div, .home3_esquerdo_2 div{
		margin-top: 14px;
	}

	#home3 .home3_esquerdo .home3_esquerdo_1 div a, .home3_esquerdo_2 div a{
		font-size: 30pt;
		margin-top: 9px;
	}

	#home3 .home3_esquerdo .home3_esquerdo_2 p, div{margin-left: 15px;}  	

	#home3 .home3_esquerdo .home3_esquerdo_1 .drop_img_b{
	margin-top: 16px;
	margin-left: 40px;
	}

	#home3 .home3_esquerdo .home3_esquerdo_1 .drop_img_n ,#home3 .home3_esquerdo .home3_esquerdo_1 .drop_img_d ,#home3 .home3_esquerdo .home3_esquerdo_1 .drop_img_b {
	width: 200px;
	height: 50px;
	background-size: 200px 50px;
	}

	#home3 .home3_esquerdo .home3_esquerdo_2 .drop_img_f,#home3 .home3_esquerdo .home3_esquerdo_2 .drop_img_i,#home3 .home3_esquerdo .home3_esquerdo_2 .drop_vazio{
	width: 200px;
	height: 50px;
	background-size: 200px 50px;
	}

	#home3 .home3_esquerdo .home3_esquerdo_2 .drop_vazio p{
		font-size: 14pt;
		margin-top: 26px;
	}

	#home3 .home3_direito{
		width: 85%;
		float: none;
		margin: 70px auto!important;
	}

	#home3 .home3_direito .home3_direito_titulo{
		font-size: 40pt;
		margin-bottom: 35px;
	}
	#home3 .home3_direito p{
		font-size: 12pt;
		margin-bottom: 15px;
	}

	#home3 .home3_direito img{
		margin-top: 15px;
		margin-right: 10px;
	}

	#home4{width: 100%; height: 1790px;}

	#home4 .home4_div1 .home4_titulo{
	font-size: 40pt;
	margin-top: 104px;
	margin-bottom: 60px;
	width: 100%;
	margin-left: -10px;
	}

	#home4 .home4_div1 p{
		font-size: 12pt;
		width: 80%;
		margin: 5px auto;
		margin-top: -30px;
	}

	#home4 .home4_div2 .home4_div2_titulo{
		font-size: 40pt;
		margin-top: 60px;
	}

	#home4 .home4_div2 > p{
		font-size: 12pt;
		width: 90%;
		margin: 0 auto;
	}

	#home4 .home4_div2 a{
		padding: 18px 34px!important;
		font-size: 12pt!important;
		width: 140px!important;
		margin-top: 35px;
	}

	#home4 .home4_div2 .home4_div2_div{
		margin: 60px auto;
		width: 300px;
	} 

	#home4 .home4_div2 .home4_div2_div div{
		width: 280px;
		height: 368px;
		margin-left: 10px;
		margin-top: 15px;
	}

	#home4 .home4_div2 .home4_div2_div .home4_div2_div_titulo{
		font-size: 16pt;
	}

	#home4 .home4_div2 .home4_div2_div .cifrao{
		font-size: 24pt;
	}

	#home4 .home4_div2 .home4_div2_div .numero{
		font-size: 46pt;
	}

	#home4 .home4_div2 .home4_div2_div .mes{
		font-size: 16pt;
	}

	#home4 .home4_div2 .home4_div2_div .descricao{
		font-size: 12pt;
	}

	#home4 .home4_div2 .home4_div2_div .descricao img{
		margin-right: 13px;
		margin-top: 10px;
	}

	#rodape{width: 100%; height: 120px;}

	#rodape .rodape_centro{
	width: 100%;
	height: 80px;
	margin: 0 auto;
	margin-top: 25px;
	}

	#rodape .rodape_centro div > p{
		font-size: 10pt;
		margin-top: 50px;
		margin-left: -45px!important;
	}

	#rodape .rodape_centro .rodape_menu{
		float: right!important;
		margin-top: -70px;
		margin-right: 10px;
		margin-left: 0;
	}

	#rodape .rodape_centro div ul a{
		font-size: 12pt;
	}

	#rodape .rodape_centro div ul li{
		margin-left: 20px;
	}

	#rodape .rodape_centro .redes_sociais{
		float: left;
		margin-left: 10px;
		margin-top: -5px;
		margin-right: 0;
	}

	#rodape .rodape_centro .redes_sociais img{
		width: 18px;
		height: 25px;
		margin-left: 10px;
	}
}

@media (max-height: 568px){
	#rodape{margin-top: 540px;}
	.drop_img_b{margin-left: 0!important}
}

@media (max-width: 767px){
	#home, #home2, #home3, #home4{width: 100%!important; padding: 15px;}

	#home .menu_home .menu_logo{
		width: 150px;
		height:50px;
		margin-top: 6px;
	}

	.menu_xs{display: block; cursor: pointer;}
	.menu_close{display: none; float: right; cursor: pointer; font-size: 3em;}
	.menu{display: none;}

	.menu{display: none; position: absolute;}

	.menu{
		width: 100%;
		height: 100%;
		margin-left: -15px;
		margin-top: -75px;
		padding: 0;
		background: rgba(0,0,0,0.9);

	}

	.menu_close{
		float: right;
		color:#0080FF;
		margin-right: 2%;
	}

	#home .menu_home{
		width: 100%;
		height: 100%;
	}

	#home .menu_home .menu_texto{
		width: 40%;
		height: 400px;
		margin: 60px 120px;
	}

	#home .menu_home .menu_texto li{
		display: block;
		padding: 15px 15px;
	}

	#home .menu_home .menu_texto li:hover{
		background-color: #8492af;
	}


	#home .menu_home .menu_texto li a{
		padding: 10px 10px;
		text-align: center;
	}

	#home .menu_texto_principal{
		margin-top: 20px;
	}

	#home .menu_texto_principal .titulo{
		font-size: 34pt;
	}

	#home .menu_texto_principal .sub_titulo{
		font-size: 16pt;
	}

	#home .menu_texto_principal .menu_botao{
		width: 170px;
		margin: 0 auto;
		margin-top: 60px;
	}

	#home .menu_texto_principal .menu_botao a{
		font-size: 12pt;
		padding: 20px 35px;
	}


	#home .menu_imagem_principal{
		width: 90%;
		margin-top: 25px;
	}

	#home .menu_imagem_principal img{
		width: 100%;
	}

	#home2{width: 100%; height: 2530px;}

	#home2 .icones{
	width: 100%;
	margin-top: 100px;
	}

	#home2 .icones > div{
		width: 100%;
		margin: 25px auto;
	}

	#home2 .icones .icones_titulo{
		font-size: 18pt;
	}

	#home2 .icones .icones_descricao{
		font-size: 12pt;
	}

	#home2 .icones a{
		font-size: 12pt;
		padding: 15px 35px;
		margin-left: 70px;
	}

	#home2 .drop{
		margin-top: 1000px;
		height: 900px;
		width: 100%;
	}

	#home2 .drop .drop_esquerdo{
		width: 96%;
		margin-left: 15px;
	}

	#home2 .drop .drop_titulo{
		font-size: 40pt;
		width: 96%;
		text-align: center;
	}

	#home2 .drop .drop_descricao{
		font-size: 14pt;
		width: 80%;
		margin: 30px auto;
		text-align: center;
	}

	#home2 .drop .drop_info{
		font-size: 12pt;
		margin-top: 26px;
		text-align: center;
	}

	#home2 .drop .drop_info img{
		margin-right: 10px;
		margin-top: 10px;
		width: 26px;
		height: 24px;
	}

	#home2 .drop .drop_direito{
		margin-top: 50px;
		margin-right: 0px;
		width: 100%!important;
	}

	#home3{width: 100%;}

	#home3 .home3_tudo{
		width: 92%;
		margin: 0 25px!important;
	}

	#home3 .home3_esquerdo{
		width: 90%;
		height: 300px;
		margin: 0 auto;
	}

	#home3 .home3_esquerdo, .home3_direito{
		margin-top: 60px;
	}

	#home3 .home3_esquerdo .home3_esquerdo_1, .home3_esquerdo_2{ 
		width: 47%;
	}

	#home3 .home3_esquerdo .home3_esquerdo_2{margin-left: 25px!important;}

	#home3 .home3_esquerdo .home3_esquerdo_2{
		float: right;
		margin-top: -248px;
	}

	#home3 .home3_esquerdo .home3_esquerdo_1 p{
		margin-left: 0px;
	}

	#home3 .home3_esquerdo .home3_esquerdo_1 p, .home3_esquerdo_2 p{
		font-size: 11pt;
		padding-bottom: 5px;
	}

	#home3 .home3_esquerdo .numero3{
		margin-left: 10px;
	}

	#home3 .home3_esquerdo .home3_esquerdo_1 .seta_direita img{
		width: 10px;
		height: 15px;
		margin-left: 90px;
	}

	#home3 .home3_esquerdo .home3_esquerdo_1 div{
		margin-left: 0px;
	}

	#home3 .home3_esquerdo .home3_esquerdo_1 div, .home3_esquerdo_2 div{
		margin-top: 14px;
	}

	#home3 .home3_esquerdo .home3_esquerdo_1 div a, .home3_esquerdo_2 div a{
		font-size: 26pt;
		margin-top: 8px;
	}

	#home3 .home3_esquerdo .home3_esquerdo_2 p, div{margin-left: 15px;}  	

	#home3 .home3_esquerdo .home3_esquerdo_1 .drop_img_b{
	margin-top: 16px;
	margin-left: 40px;
	}

	#home3 .home3_esquerdo .home3_esquerdo_1 .drop_img_n ,#home3 .home3_esquerdo .home3_esquerdo_1 .drop_img_d ,#home3 .home3_esquerdo .home3_esquerdo_1 .drop_img_b {
	width: 200px;
	height: 60px;
	background-size: 200px 60px;
	}

	#home3 .home3_esquerdo .home3_esquerdo_2 .drop_img_f,#home3 .home3_esquerdo .home3_esquerdo_2 .drop_img_i,#home3 .home3_esquerdo .home3_esquerdo_2 .drop_vazio{
	width: 200px;
	height: 60px;
	background-size: 200px 60px;
	}

	#home3 .home3_esquerdo .home3_esquerdo_2 .drop_vazio p{
		font-size: 11pt;
		margin-top: 20px;
	}

	#home3 .home3_direito{
		width: 85%;
		margin: 40px 60px;
	}

	#home3 .home3_direito .home3_direito_titulo{
		font-size: 40pt;
		margin-bottom: 35px;
	}
	#home3 .home3_direito p{
		font-size: 12pt;
		margin-bottom: 15px;
	}

	#home3 .home3_direito img{
		margin-top: 15px;
		margin-right: 10px;
	}

	#home4{width: 100%; height: 1790px;}

	#home4 .home4_div1 .home4_titulo{
	font-size: 40pt;
	margin-top: 104px;
	margin-bottom: 60px;
	width: 100%;
	margin-left: -10px;
	}

	#home4 .home4_div1 p{
		font-size: 12pt;
		width: 80%;
		margin: 5px auto;
		margin-top: -30px;
	}

	#home4 .home4_div2 .home4_div2_titulo{
		font-size: 40pt;
		margin-top: 60px;
	}

	#home4 .home4_div2 > p{
		font-size: 12pt;
		width: 90%;
		margin: 0 auto;
	}

	#home4 .home4_div2 a{
		padding: 18px 34px!important;
		font-size: 12pt!important;
		width: 140px!important;
		margin-top: 35px;
	}

	#home4 .home4_div2 .home4_div2_div{
		margin: 60px auto;
		width: 300px;
	} 

	#home4 .home4_div2 .home4_div2_div div{
		width: 280px;
		height: 368px;
		margin-left: 10px;
		margin-top: 15px;
	}

	#home4 .home4_div2 .home4_div2_div .home4_div2_div_titulo{
		font-size: 16pt;
	}

	#home4 .home4_div2 .home4_div2_div .cifrao{
		font-size: 24pt;
	}

	#home4 .home4_div2 .home4_div2_div .numero{
		font-size: 46pt;
	}

	#home4 .home4_div2 .home4_div2_div .mes{
		font-size: 16pt;
	}

	#home4 .home4_div2 .home4_div2_div .descricao{
		font-size: 12pt;
	}

	#home4 .home4_div2 .home4_div2_div .descricao img{
		margin-right: 13px;
		margin-top: 10px;
	}

	#rodape{width: 100%; height: 120px;}

	#rodape .rodape_centro{
	width: 100%;
	height: 80px;
	margin: 0 auto;
	margin-top: 25px;
	}

	#rodape .rodape_centro div > p{
		font-size: 10pt;
		margin-top: 50px;
		margin-left: -260px;
	}

	#rodape .rodape_centro .rodape_menu{
		margin-left: 140px;
		float: left;
	}

	#rodape .rodape_centro div ul a{
		font-size: 12pt;
	}

	#rodape .rodape_centro div ul li{
		margin-left: 20px;
	}

	#rodape .rodape_centro .redes_sociais{
		float: left;
		margin-top: -5px;
	}

	#rodape .rodape_centro .redes_sociais img{
		width: 18px;
		height: 25px;
		margin-left: 10px;
	}
}

@media (min-width: 768px) {  
	#home, #home2, #home3, #home4, #rodape{
		width: 100%;
	}

	#home .menu_texto .login{
	color: #5584ff;
	border: 1px solid #233a72;
	border-radius: 35px;
	padding: 17px 43px;
	}

	#home{height: 900px;}

	#home .menu_logo{
		margin-left: 25px;
		margin-top: 55px;
		width: 160px; 
		height: 50px;
	}

	#home .menu_home{
		width: 100%;
	}
	#home .menu_home .menu_texto{
		width: 558px;
		margin-top: -35px;
		margin-right: 0px;
		float: right; 
		height: 30px;
	}

	#home .menu_home .menu_texto li a:nth-child(1){margin-left: 38px;}

	#home .menu_home .menu_texto li a{
		text-align: center;
		font-size: 1em;
	}

	.menu{display: block!important;}

	#home .menu_home .menu_celular{display: none;}
	
	#home .menu_texto a{font-size: 10pt; }

	#home .menu_texto_principal{
		margin-top: 20px;
	}	

	#home .menu_texto_principal .titulo{
	margin-top: -80px;	
	font-size: 26pt;
}

#home .menu_texto_principal .sub_titulo{
	font-size: 14pt;
}

#home .menu_texto_principal .menu_botao{
	width: 170px;
	margin-top: 70px;
}

#home .menu_texto_principal .menu_botao a{
	font-size: 9pt;
	padding: 20px 30px;
}

#home .menu_imagem_principal {
	width: 700px;
	height: 550px;
	margin: 0 auto;
	margin-top: -50px;
}

#home .menu_imagem_principal img{
	width: 700px;
	height: 550px;
}

#home2{
	height: 1000px;
}

#home2 .drop .drop_esquerdo{ 
	width: 600px;
	margin-left: 20PX;
}


#home2 .icones{
	max-width: 100%;
	margin: 0px auto;
	margin-top: 100px;
}

#home2 .icones > div{
	width: 32.9%;
	margin-right: -121px;
}

#home2 .icones, #home2 .icones div{
	height: 306px;
}

#home2 .icones .icones_titulo{
	font-size: 12pt;
}

#home2 .icones .icones_descricao{
	font-size: 9pt;
}

#home2 .icones a{
	font-size: 10pt;
	padding: 15px 45px;
	margin-left: 55px;
}

#home2 .drop{
	width: 100%!important;
	margin: 150px auto;
}

#home2 .drop .drop_esquerdo{
	width: 450px;
}

#home2 .drop .drop_direito{
	height: 400px;
	width: 100%!important;
	margin-right: 0px;
	margin-top: -300px;
}

#home2 .drop .drop_direito img{
	margin-top: 50px;
	float: right;
	margin-right: -20px;
	height: 300px;
	max-width: 400px;
}

#home2 .drop .drop_titulo{
	font-size: 28pt;
}

#home2 .drop .drop_descricao{
	font-size: 9pt;
	margin-top: 25px;
}

#home2 .drop .drop_info{
	font-size: 9pt;
	margin-top: 15px;
}

#home2 .drop .drop_info img{
	width: 30px;
	height: 28px;
	margin-top: 10px;
}

#home3{
	height: 400px;
	border:1px solid #233a72;
}

#home3 .home3_tudo{
	width: 747px;
	height: 400px;
	margin: 50px auto;
	display: block;
}

#home3 .home3_esquerdo{
	width: 560px;
	float: left;
	margin-left: 10px;
	margin-top: 0px;
	margin-right:5px;
}

#home3 .home3_direito{
	width: 290px;
	float: left;
	margin-left: -120px;
	margin-top: 0px;
}


#home3 .home3_esquerdo .home3_esquerdo_1 p, .home3_esquerdo_2 p{
	font-size: 12pt;
}

#home3 .home3_esquerdo .home3_esquerdo_2{margin-left: 10px;}

#home3 .home3_esquerdo .home3_esquerdo_1 .seta_direita img{
	width: 12px;
	height: 14px;
}

#home3 .home3_esquerdo .home3_esquerdo_1 div a, .home3_esquerdo_2 div a{
	font-size: 33px;
	margin-top: 7px;
	margin-right: 0px;
}

#home3 .home3_esquerdo .home3_esquerdo_1 .drop_img_n ,#home3 .home3_esquerdo .home3_esquerdo_1 .drop_img_d ,#home3 .home3_esquerdo .home3_esquerdo_1 .drop_img_b {
	width: 200px;
	height: 55px;
	background-size: 200px 55px;
	margin-left: 0px;
}

#home3 .home3_esquerdo .home3_esquerdo_1 p{margin-left: 0px;}

#home3 .home3_esquerdo .home3_esquerdo_1 .numero3{margin-left: 7px;}

#home3 .home3_esquerdo .home3_esquerdo_2 .drop_img_f,#home3 .home3_esquerdo .home3_esquerdo_2 .drop_img_i,#home3 .home3_esquerdo .home3_esquerdo_2 .drop_vazio{
	width: 200px;
	height: 55px;
	background-size: 200px 55px;
}

#home3 .home3_esquerdo .home3_esquerdo_1 .drop_img_b{
	margin-top: 15px;
}

#home3 .home3_esquerdo .home3_esquerdo_2 .drop_vazio p{
	margin: 20px auto;
	font-size: 12pt;
}

#home3 .home3_direito .home3_direito_titulo{
	font-size: 36pt;
}

#home3 .home3_direito p{
	font-size: 9pt;
	text-align: left;
}

#home4{
	height: 1630px;
}

#home4 .home4_div1 .home4_titulo{
	font-size: 36pt;
}

#home4 .home4_div1 p{
	font-size: 12pt;
	width: 94%;
	margin: 0 auto;
}

#home4 .home4_div1 img{
	width: 1300px;
}

#home4 .home4_div2 .home4_div2_titulo{
	font-size: 36pt;
}

#home4 .home4_div2 p{
	font-size: 10pt;
}

#home4 .home4_div2 a{
	font-size: 12pt;
	padding: 15px 30px;
	width: 160px;
	text-align: center;
}

#home4 .home4_div2 .home4_div2_div{
	margin: 90px auto;
	width: 100%;
	margin-left: 0px;
} 

#home4 .home4_div2 .home4_div2_div div{
	width: 29%;
	height: 340px;
	margin-left: 3%;
}

#home4 .home4_div2 .home4_div2_div .home4_div2_div_titulo{
	font-size: 14pt;
}

#home4 .home4_div2 .home4_div2_div .cifrao{
	font-size: 22pt;
}

#home4 .home4_div2 .home4_div2_div .numero{
	font-size: 40pt;
}

#home4 .home4_div2 .home4_div2_div .mes{
	font-size: 12pt;
}

#home4 .home4_div2 .home4_div2_div .descricao{
	font-size: 10pt;
}

#home4 .home4_div2 .home4_div2_div .descricao img{
	margin-top: 8px;
	width: 20px;
	height: 20px;
}

#rodape{
	height: 80px;
	width: 100%;
}

#rodape .rodape_centro{
	width: 90%;
	margin-top: 4%;
}

#rodape .rodape_centro div p{
	font-size: 10pt; 
}

#rodape .rodape_centro .rodape_menu{
	margin-left: 0px;
	margin-right: 10px;
	float: right;
}

#rodape .rodape_centro div ul a{
	font-size: 10pt;
}

#rodape .rodape_centro .redes_sociais{
	float: right;
	margin-top: -5px;
	margin-right: 0px;
	width: 130px;
	margin-left: 0px;
}

#rodape .rodape_centro .redes_sociais img{
	width: 18px;
	height: 26px; 
}
}

@media (min-width: 992px) {
	#home, #home2, #home3, #home4, #rodape{
		width: 100%;
	}

	.margin_div{margin-left: 50px;}

	#home .menu_texto .login{
	color: #5584ff;
	border: 1px solid #233a72;
	border-radius: 35px;
	padding: 17px 43px;
}

	#home{height: 1000px;}

	#home .menu_logo{
		margin-left: 40px;
		width: 180px; 
		height: 50px;
	}

	#home .menu_home{
		width: 100%;
	}
	#home .menu_home .menu_texto{
		margin-right: 40px;
		width: 600px;
		font-size: 1.2em;
	}
	
	#home .menu_texto a{font-size: 12pt;}

	#home .menu_texto_principal .titulo{
	margin-top: -80px;	
	font-size: 36pt;
}

#home .menu_texto_principal .sub_titulo{
	font-size: 22pt;
}

#home .menu_texto_principal .menu_botao{
	width: 150px;
	margin-top: 70px;
}

#home .menu_texto_principal .menu_botao a{
	font-size: 11pt;
	padding: 18px 35px;
}

#home .menu_imagem_principal {
	width: 882px;
	height: 600px;
	margin: 0 auto;
	margin-top: 0px;
}

#home .menu_imagem_principal img{
	width: 882px;
	height: 600px;
}

#home2{
	height: 1200px;
}

#home2 .drop .drop_esquerdo{ 
	width: 600px;
	margin-left: 20PX;
}


#home2 .icones{
	max-width: 100%;
	margin-top: 200px ;
	margin: 0px auto;
	margin-top: 180px;
}

#home2 .icones > div{
	width: 29%;
	margin-right: -100px;
}

#home2 .icones, #home2 .icones div{
	height: 306px;
}

#home2 .icones .icones_titulo{
	font-size: 14pt;
}

#home2 .icones .icones_descricao{
	font-size: 11pt;
}

#home2 .icones a{
	font-size: 11pt;
	padding: 15px 45px;
	margin-left: 55px;
}

#home2 .drop{
	width: 100%!important;
	margin: 200px auto;
}

#home2 .drop .drop_esquerdo{
	width: 48%!important;
}

#home2 .drop .drop_direito{
	height: 440px;
	width: 53%!important;
	margin-right: 0px;
	margin-top: -340px;
}

#home2 .drop .drop_direito img{
	margin-top: 0px;
	float: right;
	height: 440px!important;
	max-width: 640px!important;
}

#home2 .drop .drop_titulo{
	font-size: 34pt;
}

#home2 .drop .drop_descricao{
	font-size: 10pt;
	margin-top: 25px;
}

#home2 .drop .drop_info{
	font-size: 12pt;
	margin-top: 15px;
}

#home2 .drop .drop_info img{
	width: 30px;
	height: 28px;
	margin-top: 10px;
}

#home3{
	height: 540px;
	border:1px solid #233a72;
}

#home3 .home3_tudo{
	width: 950px;
	height: 400px;
	margin: 100px auto;
	display: block;
}

#home3 .home3_esquerdo{
	width: 560px;
	float: left;
	margin-left: 15px;
	margin-top: 0px;
	margin-right: 10px;
}

#home3 .home3_direito{
	width: 350px;
	float: left;
	margin-left: 10px;
	margin-top: 0px;
}


#home3 .home3_esquerdo .home3_esquerdo_1 p, .home3_esquerdo_2 p{
	font-size: 16pt;
}
#home3 .home3_esquerdo .home3_esquerdo_1 .seta_direita img{
	width: 16px;
	height: 18px;
}

#home3 .home3_esquerdo .home3_esquerdo_1 div a, .home3_esquerdo_2 div a{
	font-size: 41px;
	margin-top: 11px;
	margin-right: -1px;
}

#home3 .home3_esquerdo .home3_esquerdo_2{margin-left: 20px;}

#home3 .home3_esquerdo .home3_esquerdo_1 .drop_img_n ,#home3 .home3_esquerdo .home3_esquerdo_1 .drop_img_d ,#home3 .home3_esquerdo .home3_esquerdo_1 .drop_img_b {
	width: 260px;
	height: 75px;
	background-size: 260px 75px;
	margin-left: 0px;
}

#home3 .home3_esquerdo .home3_esquerdo_1 p{margin-left: 0px;}

#home3 .home3_esquerdo .home3_esquerdo_1 .numero3{margin-left: 7px;}

#home3 .home3_esquerdo .home3_esquerdo_2 .drop_img_f,#home3 .home3_esquerdo .home3_esquerdo_2 .drop_img_i,#home3 .home3_esquerdo .home3_esquerdo_2 .drop_vazio{
	width: 260px;
	height: 75px;
	background-size: 260px 75px;
}

#home3 .home3_esquerdo .home3_esquerdo_1 .drop_img_b{
	margin-top: 15px;
}

#home3 .home3_esquerdo .home3_esquerdo_2 .drop_vazio p{
	margin: 20px auto;
	font-size: 16pt;
}

#home3 .home3_direito .home3_direito_titulo{
	font-size: 42pt;
}

#home3 .home3_direito p{
	font-size: 12pt;
	text-align: left;
}

#home4{
	height: 1820px;
}

#home4 .home4_div1 .home4_titulo{
	font-size: 40pt;
}

#home4 .home4_div1 p{
	font-size: 14pt;
	width: 94%;
	margin: 0 auto;
}

#home4 .home4_div1 img{
	width: 1300px;
}

#home4 .home4_div2 .home4_div2_titulo{
	font-size: 42pt;
}

#home4 .home4_div2 p{
	font-size: 12pt;
}

#home4 .home4_div2 a{
	font-size: 14pt;
	padding: 20px 30px;
	width: 160px;
	text-align: center;
}

#home4 .home4_div2 .home4_div2_div{
	margin: 101px auto;
	width: 100%;
	margin-left: 15px;
} 

#home4 .home4_div2 .home4_div2_div div{
	width: 25%;
	height: 370px;
	margin-left: 5%;
}

#home4 .home4_div2 .home4_div2_div .home4_div2_div_titulo{
	font-size: 16pt;
}

#home4 .home4_div2 .home4_div2_div .cifrao{
	font-size: 28pt;
}

#home4 .home4_div2 .home4_div2_div .numero{
	font-size: 50pt;
}

#home4 .home4_div2 .home4_div2_div .mes{
	font-size: 16pt;
}

#home4 .home4_div2 .home4_div2_div .descricao{
	font-size: 12pt;
}

#home4 .home4_div2 .home4_div2_div .descricao img{
	margin-top: 8px;
}

#rodape{
	height: 80px;
	width: 100%;
}

#rodape .rodape_centro{
	width: 90%;
	margin-top: 3%;
}

#rodape .rodape_centro div p{
	font-size: 12pt; 
}

#rodape .rodape_centro .rodape_menu{
	margin-left: 0px;
	margin-right: 10px;
	float: right;
}

#rodape .rodape_centro div ul a{
	font-size: 12pt;
}

#rodape .rodape_centro .redes_sociais{
	float: right;
	margin-top: -5px;
	margin-right: 0px;
	width: 130px;
	margin-left: 0px;
}

#rodape .rodape_centro .redes_sociais img{
	width: 18px;
	height: 26px; 
}
}

@media (min-width: 1200px) {
	#home, #home2, #home3, #home4, #rodape{
		width: 100%;
	}

	#home .menu_texto .login{
	color: #5584ff;
	border: 1px solid #233a72;
	border-radius: 35px;
	padding: 17px 43px;
}


	#home .menu_logo{width: 180px; height: 50px;}

	#home .menu_texto a{font-size: 12pt;}

	#home .menu_texto_principal .titulo{
	margin-top: -80px;	
	font-size: 40pt;
}

#home .menu_texto_principal .sub_titulo{
	font-size: 24pt;
}

#home .menu_texto_principal .menu_botao{
	width: 180px;
	margin-top: 70px;
}

#home .menu_texto_principal .menu_botao a{
	font-size: 12pt;
	padding: 20px 40px;
}

#home .menu_imagem_principal {
	width: 882px;
	height: 600px;
	margin: 0 auto;
	margin-top: 0px;
}

#home .menu_imagem_principal img{
	width: 882px;
	height: 600px;
}

#home2{
	height: 1200px;
}

#home2 .drop .drop_esquerdo{ 
	width: 600px;
	margin-left: 20PX;
}


#home2 .icones{
	max-width: 1180px;
	margin-top: 200px ;
	margin: 0px auto;
	margin-top: 180px;
}

#home2 .icones > div{
	width: 26%;
	margin-right: -50px;
}

#home2 .icones, #home2 .icones div{
	height: 306px;
}

#home2 .icones .icones_titulo{
	font-size: 16pt;
}

#home2 .icones .icones_descricao{
	font-size: 12pt;
}

#home2 .icones a{
	font-size: 12pt;
	padding: 20px 60px;
	margin-left: 40px;
}

#home2 .drop{
	width: 1300px;
	margin: 250px auto;
}

#home2 .drop .drop_esquerdo{
	margin-left: 80px;
}

#home2 .drop .drop_direito{
	height: 500px!important;
	width: 750px!important;
	margin-right: 80px;
	margin-top: -380px;
}

#home2 .drop .drop_direito img{
	width: 750px!important;
	height: 500px!important;
	margin-top: 0px;
	margin-right: -80px; 
	float: right;
	max-width: 800px;
}

#home2 .drop .drop_titulo{
	font-size: 40pt;
}

#home2 .drop .drop_descricao{
	font-size: 12pt;
}

#home2 .drop .drop_info{
	font-size: 14pt;
}

#home2 .drop .drop_info img{
	width: 30px;
	height: 28px;
}

#home3{
	height: 640px;
	border:1px solid #233a72;
}

#home3 .home3_tudo{
	width: 1120px;
	height: 400px;
	margin: 150px auto;
	display: block;
}

#home3 .home3_esquerdo{
	width: 560px;
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 10px;
}

#home3 .home3_direito{
	width: 450px;
	float: left;
	margin-left: 95px;
	margin-top: 0px; 
}


#home3 .home3_esquerdo .home3_esquerdo_1 p, .home3_esquerdo_2 p{
	font-size: 16pt;
}
#home3 .home3_esquerdo .home3_esquerdo_1 .seta_direita img{
	width: 16px;
	height: 18px;
}

#home3 .home3_esquerdo .home3_esquerdo_1 div a, .home3_esquerdo_2 div a{
	font-size: 41px;
	margin-top: 11px;
	margin-right: -1px;
}

#home3 .home3_esquerdo .home3_esquerdo_2{margin-left: 30px;}

#home3 .home3_esquerdo .home3_esquerdo_1 .drop_img_n ,#home3 .home3_esquerdo .home3_esquerdo_1 .drop_img_d ,#home3 .home3_esquerdo .home3_esquerdo_1 .drop_img_b {
	width: 260px;
	height: 75px;
	background-size: 260px 75px;
	margin-left: 0px;
}

#home3 .home3_esquerdo .home3_esquerdo_1 p{margin-left: 0px;}

#home3 .home3_esquerdo .home3_esquerdo_1 .numero3{margin-left: 7px;}

#home3 .home3_esquerdo .home3_esquerdo_2 .drop_img_f,#home3 .home3_esquerdo .home3_esquerdo_2 .drop_img_i,#home3 .home3_esquerdo .home3_esquerdo_2 .drop_vazio{
	width: 260px;
	height: 75px;
	background-size: 260px 75px;
}

#home3 .home3_esquerdo .home3_esquerdo_1 .drop_img_b{
	margin-top: 15px;
}

#home3 .home3_esquerdo .home3_esquerdo_2 .drop_vazio p{
	margin: 20px auto;
}

#home3 .home3_direito .home3_direito_titulo{
	font-size: 42pt;
}

#home3 .home3_direito p{
	font-size: 12pt;
}

#home4{
	height: 1920px;
}

#home4 .home4_div1 .home4_titulo{
	font-size: 40pt;
}

#home4 .home4_div1 p{
	font-size: 14pt;
}

#home4 .home4_div1 img{
	width: 1300px;
}

#home4 .home4_div2 .home4_div2_titulo{
	font-size: 42pt;
}

#home4 .home4_div2 p{
	font-size: 12pt;
}

#home4 .home4_div2 a{
	font-size: 14pt;
	padding: 20px 30px;
	width: 160px;
	text-align: center;
}

#home4 .home4_div2 .home4_div2_div{
	margin: 101px auto;
	width: 100%;
} 

#home4 .home4_div2 .home4_div2_div div{
	width: 21%;
	height: 370px;
	margin-left: 9%;
}

#home4 .home4_div2 .home4_div2_div .home4_div2_div_titulo{
	font-size: 16pt;
}

#home4 .home4_div2 .home4_div2_div .cifrao{
	font-size: 28pt;
}

#home4 .home4_div2 .home4_div2_div .numero{
	font-size: 50pt;
}

#home4 .home4_div2 .home4_div2_div .mes{
	font-size: 16pt;
}

#home4 .home4_div2 .home4_div2_div .descricao{
	font-size: 12pt;
}

#home4 .home4_div2 .home4_div2_div .descricao img{
	margin-top: 8px;
}

#rodape{
	height: 80px;
	width: 100%;
}

#rodape .rodape_centro{
	width: 90%;
	margin-top: 2.5%;
}

#rodape .rodape_centro div p{
	font-size: 12pt; 
}

#rodape .rodape_centro .rodape_menu{
	margin-left: 0px;
	margin-right: 10px;
	float: right;
}

#rodape .rodape_centro div ul a{
	font-size: 12pt;
}

#rodape .rodape_centro .redes_sociais{
	float: right;
	margin-top: -5px;
	margin-right: 0px;
	width: 130px;
	margin-left: 0px;
}

#rodape .rodape_centro .redes_sociais img{
	width: 18px;
	height: 26px; 
}
}


.img-responsive{
	max-width: 100%;
}

@media(min-width: 1920px){
	#home2 .drop{
	width: 1300px!important;
	margin: 250px auto;
}

#home2 .drop .drop_esquerdo{
	margin-left: 80px;
}

#home2 .drop .drop_direito{
	height: 500px!important;
	width: 750px!important;
	margin-right: 80px;
	margin-top: -380px;
}

#rodape{
	height: 120px;
	width: 100%;
}

#rodape .rodape_centro{
	width: 90%;
	margin-top: 2%;
}

}